<h1>Hi, <%= current_user.first_name if current_user %></h1>

<h1>Blog Posts</h1>
<%= @posts.inspect %>
<h1>Skills</h1>
<%= @skills.inspect %>
<h1>Pages#home</h1>
<p>Find me in app/views/pages/home.html.erb</p>



<% @posts.each do|post_item|%>
  <p><%= number_to_currency "150" %></p>
  <p><%= number_to_percentage post_item.id %></p>
  <p><%= post_item.id %></p>
  <p><%= post_item.title %></p>
  <p><%= post_item.body %></p>
  <p><%= post_item.updated_at.b %></p>
  <p><%= post_item.updated_at %></p>
<% end %>

